html, body {
    margin-left: 20px;
    margin-right: 30px;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    white-space: nowrap;
    width: 80%;
}

th {
    border-bottom: 1px solid gray;
    background: none repeat scroll 0 0 rgb(52, 48, 45);
    padding: 20px;
    color: #FFFFFF;
}

td{
    padding: 10px;
}

tr {
    text-align: center;
    line-height: 20px;
}

tr:nth-child(odd) {
    padding: inherit;
    background: #FFFFFF
}

tr:nth-child(even) {
    background: rgba(21, 180, 52, 0.13)
}

#wrapper {
    width: 100%;
    margin-top: 0;
}

#login_logout{
    float: right;
    margin-left: 80%;
    margin-right: auto;
}

#header {
    width: 100%;
    background: rgb(52, 48, 45);
    margin-top: 0;
    padding: 30px 0 30px 30px;
}

#header h2 {
    width: 100%;
    margin: auto;
    color: #FFFFFF;
}

#container {
    width: 100%;
    margin: auto
}

#container h3 {
    color: #000;
}

#container #content {
    margin-top: 20px;
}

.input{
    margin-top: 15px;
    border-radius: 3px;
    padding: 5px 5px 5px;
}



.smallerTable{
    width: 40%;
}

.error{
    color: red;
}

.button {
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    padding: 5px 10px;

    margin-top: 15px;
    margin-bottom: 15px;
    background: #cccccc;
}
.button2 {
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 12px;
    font-weight:bold;
    width: 120px;
    padding: 5px 10px;

    margin-top: 5px;
    margin-bottom: 15px;
    background: #cccccc;
}